@font-face {
    font-family: Roboto;
     src: url("assets/fonts/Roboto.ttf");
   }

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    background-color: #dad9de;
    font-family: 'Questrial', sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #484848;
}
header h1 {
    font-size: 3.2rem;
    letter-spacing: 0.6rem;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}
header span {
    font-weight: bold;
}
header p {
    font-size: 1.8rem;

}
.container {
    max-width: 114rem;
    margin: 0 auto;
    background: #f4f4f4;
    box-shadow: 0 0 7px #666;
    display: flex;
}
header {
    margin-top: 3rem;
    margin-bottom: 8rem;
}
header p{
    margin-top: 1.2rem;
}
.contact-info {
    display: flex;
    flex-direction: column;
    flex: 0 30%;
}
.info-block {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.ava__img {
    width: 20rem;
    height: 20rem;
    border-radius: 100rem;
    overflow: hidden;
    margin-bottom: 4rem;
}
.ava__img img {
    width: 100%;
}
aside {
    background: #eec0c0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.block-information h2{
    display: inline-block;
    width: 70%;
    padding: 1.6rem 0rem;
    background: #48474c;
    color: #f6f6f6;
    text-transform: uppercase;
    font-size: 2rem;
    transform: translateY(-2.4rem);
}

.block-information, .language {
    margin-bottom: 2rem;
}
.block-information {
    text-align: center;
    padding: 0rem 4rem;
}
.block-information p {
    font-size: 1.4rem;
    text-align: left;
}
.icons {

}
.card-body {
    display: flex;
    flex-direction: row;
}
.items-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.location {
    background-image: url(/img/location-icon.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1rem;
}
.phone {
    background-image: url(/img/phone-icon.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1rem;
}
.email {
    background-image: url(/img/email-icon.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1rem;
}
.vk {
    background-image: url(/img/vk-icon.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1rem;
}
.language {
    display: flex;
    flex-direction: row;
}
.language {
    align-items: center;
    justify-content: center;
}

.language span, .skils span {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #48474c;
    margin-right: 2rem;
    font-weight: 600;
}

.circle-painted {
    background: #48474c;
    border-radius: 100rem;
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.8rem;
}
.circle-no-painted {
    border: 1px #48474c solid;
    background: #FFF;
    border-radius: 100rem;
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.8rem;
}
.hobbies-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.hobbies-item {
    flex: 50%;
    color: #48474c;
    font-size: 1.6rem;
    padding: 0.8rem 0rem;
}
main {
    font-family: 'Questrial', sans-serif;
    color: #484848;
    margin-left: 6rem;
    display: flex;
    flex-wrap: wrap;
}


.main-block {
    padding: 2rem 4rem 2rem 6rem;
    text-transform: uppercase;
    width: 100%;
}
.main-block h2 {
    font-size: 1.8rem;
    border-bottom: 2px #484848 solid;
    padding: 0.4rem 0rem;
    width: 90%;
}
.icon-main {
    background: #eec0c0;
    border-radius: 100rem;
    width: 3.6rem;
    height: 3.6rem;
    display: flex;
    transform: translateX(-0.8rem);
    align-items: center;
    justify-content: center;
}
.about-me::before {
    content: "";
    background-image: url(/img/about-me-icon.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 2.2rem;
    height: 2.2rem;
}

.main-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.main-items p {
    width: 100%;
    margin-top: 1rem;
    font-size: 1.4rem;
}
.main-title {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.education-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0rem 3rem 2rem 0rem;
}

.education-items {
    display: flex;
    margin-top: 1.4rem;
}
.education-items h3 {
    flex: 1;
}
.date {
    width: 0 30%;
}
.education-items p {
    width: 100%;
}
.skils-block {
    display: flex;
    width: 100%;
}
.skils {
    font-size: 1.6rem;
    width: 100%;
    margin-top: 2rem;
    margin-left: 1rem;
}
.skils li{
    width: 50%;
    float: left;
}
footer {
    margin: 2rem 2rem 2rem 6rem;
    height: 8rem;
    background: #eec0c0;
    width: 100%;
    padding: 1.2rem;
    font-size: 1.4rem;
}
.footer-link {
    display: inline-block;
    width: 100%;
    height: 32px;
    background: url(../img/footer-icon-rsschool.svg);
    background-repeat: no-repeat
}
code {
    font-size: 1.4rem;
    background-color: #fff;
    padding: 1rem 0rem;
    margin-top: 1rem;
}
@media (max-width: 768px) {
    .main-block {
        padding: 2rem 1rem 2rem 1rem;
    }
    main {
        margin-left: 2rem;
    }
  }
